
/* LAYOUT */
#container{
    width: 100%;
}

#header h1{
    text-align: center;
}

#content{
    clear: both;
    margin-bottom: 1em;
}

.centrado{
    width: 95%;
    margin: 0 auto;
}

.clear{
    clear: both;
}


/* TABLES */

.tabla{
    width: 900px;
    float: left;
}

.tabla.wide{
    width: 1050px;
}

.tabla .left{
    width: 150px;
    float: left;
}

.tabla .center{
    width: 750px;
    float: left;
}

.tabla.wide .center{
    width: 900px;
}

.tabla .celda{
    height: 2em;
    line-height: 2em;
    float: left;
    min-width: 148px;
}

.tabla .top .celda{
    text-align: center;
    font-weight: bold;
}

.tabla .left .celda{
    clear: both;
    font-weight: bold;
    text-indent: 0.2em;
}

.tabla .center .celda{
    text-align: center;
}

.resto{
    float: left;
    padding: 2em;
    text-align: center:
}

.celda.error input{
    color: red;
    border: 1px solid red;
}

.celda.total{
    color: blue;
    font-weight: bold;
}

/* FORMS */

input[type=text]{
    width: 100px;
}

div.error p{
    color: red;
    font-size: 2em;
    font-weight: bold;
}

/* MENU */

.menu{
    clear: both;
    margin: 1em;
    float: left;
}

.menu ul{
    list-style: none;
}

.menu ul li{
    float: left;
    margin: 0.1em;
}

.menu ul li a{
    display: block;
    float: left;
    padding: 0.5em;
    border: 1px solid black;
    color: black;
    background: white;
    text-decoration: none;
    font-weight: bold;
}

.menu ul li a:hover{
    color: white;
    background: black;
}