
/* LAYOUT */
#container{
    width: 100%;
}

#header h1{
    text-align: center;
}

#content{
    clear: both;
    margin-bottom: 1em;
}

.centrado{
    width: 95%;
    margin: 0 auto;
}

.clear{
    clear: both;
}

/* TABLES */

table.appraisal{
    padding: 1em;
    border-collapse:collapse;
}

table.appraisal td,
table.appraisal th{
    vertical-align:bottom;
    padding: 0.1em 1em;
}

table.appraisal th.text-left{
    text-align: left;
}

table.appraisal tr{
    text-align: center;
    padding: 0.3em;
}

table.appraisal td.error input{
    background: #FF6666;
    color: white;
}

table.appraisal .prom{
    color: blue;
    font-weight: bold;
}

.resto{
    float: left;
    padding: 2em;
    text-align: center:
}


/* FORMS */

input.num-field{
    width: 3em;
    text-align: center;
}

div.error p{
    color: red;
    font-size: 2em;
    font-weight: bold;
}

/* MENU */

.menu{
    clear: both;
    margin: 1em;
    float: left;
}

.menu ul{
    list-style: none;
}

.menu ul li{
    float: left;
    margin: 0.1em;
}

.menu ul li a{
    display: block;
    float: left;
    padding: 0.5em;
    border: 1px solid black;
    color: black;
    background: white;
    text-decoration: none;
    font-weight: bold;
}

.menu ul li a:hover{
    color: white;
    background: black;
}