{% extends "base.html" %}

{% block content %}
<div class="centrado">
    <form method="post">
        {% csrf_token %}

        <div><p>Notas del 1 al 10</p></div>

        <div class="tabla">
            <div class="top">
                <div class="celda">Personas</div>
                {% for h in habilidades %}
                    <div class="celda">{{h}}</div>
                {% endfor %}
            </div>

            <div class="left">
                {% for p in personas %}
                    <div class="celda">{{p}}</div>
                {% endfor %}
            </div>

            <div class="center">
                {% for f in votos_form %}
                    <div class="celda {% if f.errors %}error{% endif %}">
                            {{f}}
                    </div>
                {% endfor %}
            </div>
        </div>

        <div class="resto">
            {{votante_form.as_p}}
            <input type="submit" value="Votar">
        </div>
    </form>

</div>


{% endblock content %}
