{% extends "base.html" %}
{% load nasa_tags %}

{% block content %}
<div class="centrado clear">
<h2>Appraisal</h2>
    <form method="post">
        {% csrf_token %}

        {% include 'escala.html' %}
        <div class="error"><p>{{errores|default:''}}</p></div>

        <table class="appraisal clear">
            <tr>
                <th>Personas</th>
                {% for h in habilidades %}
                    <th>{{h}}</th>
                {% endfor %}
            </tr>
            {% for p in personas %}
                <tr>
                    <th class="text-left">{{p}}</th>
                    {% for h in habilidades %}
                        <td class='{% css_error_field_for_per_hab votos_form p h %}'>{% field_for_per_hab votos_form p h %}</td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </table>

        <div class="resto">
            {{votante_form.as_p}}
            <input type="submit" value="Votar">
        </div>
    </form>




</div>


{% endblock content %}
