{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>[NASA] Nexuiz's Anonymous Skill Appraisal</title>

    <link rel="stylesheet" href="{% static "css/style.css" %}">
    <style type="text/css">
    {% block extra_css %}
    {% endblock extra_css %}
    </style>

</head>
<body>

<div id="container">
    <div id="header"><h1>[NASA] Nexuiz's Anonymous Skill Appraisal</h1></div>

    <div class="menu">
        <ul>
            <li><a href="{% url 'stats' %}">Stats</a></li>
            <li><a href="{% url 'appraise' %}">Appraisal</a></li>
            <li><a href="{% url 'change_user' %}">Change User</a></li>
            <li><a href="{% url 'load' %}">Load</a></li>
        </ul>
    </div>

    <div id="content">
        {% block content %}
        {% endblock content %}
    </div>
</div>

</body>
</html>