{% extends "base.html" %}
{% load nasa_tags %}

{% block content %}

<div class="centrado clear">
<h2>Stats</h2>
{% include 'escala.html' %}
<div class="centrado">
    <table class="appraisal clear">
        <tr>
            <th>Personas</th>
            {% for h in habilidades %}
                <th>{{h}}</th>
            {% endfor %}
            <th class="prom">Promedio</th>
        </tr>
        {% for p in personas %}
            <tr>
                <th class="text-left">{{p}}</th>
                {% for h in habilidades %}
                    <td class=''>{% value_for_per_hab stats_dict p.pk h.pk %}</td>
                {% endfor %}
                <td class="prom">{% value_for_per_hab stats_dict p.pk 'avg' %}</td>
            </tr>
        {% endfor %}
        <tr>
            <th class="text-left prom">Promedio</th>
            {% for h in habilidades %}
                <td class="prom">{% value_for_per_hab stats_dict 'avg' h.pk %}</td>
            {% endfor %}
            <td class="prom">{% value_for_per_hab stats_dict 'avg' 'avg' %}</td>
        </tr>
    </table>
</div>
</div>
{% endblock content %}