{% extends "base.html" %}
{% load nasa_tags %}

{% block content %}

<div class="centrado clear">
<h2>Stats</h2>
{% include 'escala.html' %}
<div class="centrado">
    <table class="appraisal clear">
        <tr>
            <th>Personas</th>
            {% for h in habilidades %}
                <th>{{h}}</th>
            {% endfor %}
            <th class="prom">Promedio</th>
        </tr>
        {% for p in personas %}
            <tr>
                <th class="text-left">{{p}}</th>
                {% for h in habilidades %}
                    <td class=''>{% value_for_per_hab stats_dict p.pk h.pk %}</td>
                {% endfor %}
                <td class="prom">{% value_for_per_hab stats_dict p.pk 'avg' %}</td>
            </tr>
        {% endfor %}
        <tr>
            <th class="text-left prom">Promedio</th>
            {% for h in habilidades %}
                <td class="prom">{% value_for_per_hab stats_dict 'avg' h.pk %}</td>
            {% endfor %}
            <td class="prom">{% value_for_per_hab stats_dict 'avg' 'avg' %}</td>
        </tr>
    </table>
    <p>Numero de votantes: {{votes}}/{{voters}}</p>
    <b>Disclaimer: </b>
    <ul>
        <li><i>Los resultados expresados aquí son de exclusiva responsabilidad de quien los emitió y no representan necesariamente la opinión del desarrollador.</i></li>
        <li><i>Son una visión subjetiva de los votantes y no representan necesariamente la realidad.</i></li>
        <li><i>La intención no es generar discordias entre los jugadores.</i></li>
        <li><i>Si tiene algún reclamo dirigirse a qq@nasa.nex</i></li>
    </ul>
</div>
</div>
{% endblock content %}