{% extends "base.html" %}

{% block content %}

<h2>Nexuiz Stats</h2>

<div class="centrado">
    <div class="tabla wide">
        <div class="top">
            <div class="celda">Personas</div>
            {% for h in habilidades %}
                <div class="celda">{{h}}</div>
            {% endfor %}
            <div class="celda total">Total</div>
        </div>

        <div class="left">
            {% for p in personas %}
                <div class="celda">{{p}}</div>
            {% endfor %}
            <div class="celda total">Total</div>
        </div>

        <div class="center">
            {% for p in stats %}
                {% for h in p %}
                    <div class="celda">{{h}}</div>
                {% endfor %}
            {% endfor %}
            {% for gs in general_stats %}
                <div class="celda total">{{gs}}</div>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock content %}